.features {
    width: 100%;
    background: #F5F5F5;

    &__image {
        position: relative;
    }
    &__img {
        width: 100%;
    }
    &__gradient {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        height: 212px;
        width: 100%;

        background: linear-gradient(360deg, #F5F5F5 19.44%, rgba(232, 232, 232, 0) 100%);
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__text {
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;

        margin-bottom: 100px;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: 14px 60px;
        width: 160px;
        height: 171px;
    }
    &__title {
        font-weight: 300;
        font-size: 35px;
        line-height: 43px;
        text-align: center;

        background: linear-gradient(180deg, #009EFF 0%, #007BCD 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    &__subtitle {
        text-transform: none;
        text-align: center;
        font-size: 18px;
        color: #999999;
    }
}